/**
 * Areas of study in views accordion.
 */
// .view-id-areas_of_study {

  // Why you mess with the font, jquery.ui.theme.css?
  .ui-widget .ui-accordion-content {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1.5em;
  }

  .ui-accordion .ui-accordion-header,
  .ui-corner-bottom,
  /*.ui-corner-all,*/
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    border: none;
    border-radius: 0;
  }

  h3.ui-accordion-header,
  h3.ui-state-default,
  h3.ui-state-focus,
  h3.ui-state-active {
    a {
      color: #4c5e71;
      font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
    }
  }

  .view-content.ui-accordion {
    table {
      caption {
        height: 0;
        left: -9999px;
        position: absolute;
      }

      thead {
        tr,
        th {
          border-bottom: 0;
        }
      }
    }
  }

  .ui-accordion .ui-accordion-content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }

// }
