/**
 * SCSS rules for displaysuite classes.
 */
.ds-2col > div.group-left {
  float: left;
  width: 120px;
}
.ds-2col > div.group-right {
  width: auto;
}

.group-left,
.group-right {
  .clearfix,
  .clearfix:after,
  h2, h3, .pullquote,
  h2.no-clear, h3.no-clear {
    clear: none;
  }
}
