/**
 * Header element spacing.
 *
 * The content-wrapper element has classes that indicate which header
 * elements are present on the page, so it can be used to determine
 * required spacing:
 *
 * - uom-header     : Header menu.
 * - uom-slider     : Banner slideshow.
 * - uom-feature    : Feature menu and/or search.
 * - uom-backstretch: Semi-transparent underlay for background image.
 *
 * And the elements are:
 *
 * - #header-menu
 * - #feature-menu
 * - #slider
 *     .col-2.rightside
 * - #backstretch-wrapper
 * - #main-content
 *     .col-2.rightside
 */

#content-wrapper {
  // ------------------------------------------------------------------------------------
  /* Element spacing. */

  // Default for slider.
  #slider {
    margin-top: 46px;
    .col-2.rightside {
      margin-top: 0;
    }
  }

  // Default for page content.
  #main-content,
  .col-2.rightside {
    margin-top: 30px;
  }

  &.uom-header {
    // Don't worry about the header menu spacing.
  }

  // Value for page content if a slider is present.
  &.uom-slider {
    #main-content,
    .col-2.rightside {
      margin-top: 0;
    }
  }

  // Values for slider and page content if a header or feature menu
  // are present.
  // Header + slider and feature + slider.
  &.uom-header,
  &.uom-feature {
    #slider {
      margin-top: 16px;
    }
    #main-content,
    .col-2.rightside {
      margin-top: 0;
    }
  }

  // Values for page content and slider if a semi-transparent
  // background is present.
  &.uom-backstretch {
    #main-content,
    .col-2.rightside {
      margin-top: 10px;
    }
    #slider {
      margin-top: 56px;
      .col-2.rightside {
        margin-top: 0;
      }
    }
  }

  // Values for page content if a semi-transparent background and
  // a slider are present.
  &.uom-backstretch.uom-slider {
    #main-content,
    .col-2.rightside {
      margin-top: 0;
    }
  }

  // Values for slider wrapper if a semi-transparent
  // background and feature menu are present.
  &.uom-feature.uom-backstretch {
    #slider {
      margin-top: 36px;
    }
  }

  // ------------------------------------------------------------------------------------
  /* Backstretch positioning. */

  // Default.
  &.uom-backstretch #backstretch-wrapper {
    top: 115px;
  }

  // If a header menu is present.
  &.uom-backstretch.uom-header #backstretch-wrapper {
    top: 120px;
  }

  // If a feature menu is present.
  &.uom-backstretch.uom-feature #backstretch-wrapper {
    top: 160px;
  }

  // If a slider is present.
  &.uom-backstretch.uom-slider #backstretch-wrapper {
    top: 125px;
  }

  // If a header menu and feature menu are present.
  &.uom-backstretch.uom-header.uom-feature #backstretch-wrapper {
    top: 165px;
  }

  // If a header menu and slider are present.
  &.uom-backstretch.uom-header.uom-slider #backstretch-wrapper {
    top: 135px;
  }

  // If a feature menu and a slider are present.
  &.uom-backstretch.uom-feature.uom-slider #backstretch-wrapper {
    top: 150px;
  }

  // If a header menu and feature menu are present.
  &.uom-backstretch.uom-header.uom-feature.uom-slider #backstretch-wrapper {
    top: 155px;
  }
}

// Optionally tweak the backstretch spacing if  auser is logged in and sees an admin menu.
.admin-menu {
  #content-wrapper {
    // Default.
    &.uom-backstretch #backstretch-wrapper {
      top: 115px;
    }

    // If a header menu is present.
    &.uom-backstretch.uom-header #backstretch-wrapper {
      top: 120px;
    }

    // If a feature menu is present.
    &.uom-backstretch.uom-feature #backstretch-wrapper {
      top: 160px;
    }

    // If a slider is present.
    &.uom-backstretch.uom-slider #backstretch-wrapper {
      top: 125px;
    }

    // If a header menu and feature menu are present.
    &.uom-backstretch.uom-header.uom-feature #backstretch-wrapper {
      top: 165px;
    }

    // If a header menu and slider are present.
    &.uom-backstretch.uom-header.uom-slider #backstretch-wrapper {
      top: 135px;
    }

    // If a feature menu and a slider are present.
    &.uom-backstretch.uom-feature.uom-slider #backstretch-wrapper {
      top: 150px;
    }

    // If a header menu and feature menu are present.
    &.uom-backstretch.uom-header.uom-feature.uom-slider #backstretch-wrapper {
      top: 155px;
    }
  }
}
