/**
 * @file
 * SCSS variables and functions.
 */
$uni-blue: #036;

$page-background: white;
$block-background: #dfe9f4;

$button-menu-background: #1d4772;
$button-first-background: #1d4772;
$button-background: #1d4772;
$button-text: #345b8c;

$button-menu-active-top: #f5faff;
$button-menu-active-bottom: #d8e8fb;

$button-menu-inactive-top: #ffffff;
$button-menu-inactive-bottom: #eef4fa;

$link-visited: #4d476b;

/**
 * Mixins.
 */

/* Undecorated text. */
@mixin no-decoration {
  text-decoration: none;
  border: none;
}

/* Underlined text (no border) */
@mixin decoration {
  border: none;
  text-decoration: underline;
}

/* Gradient. */
@mixin gradient($start, $end) {
  background: $start;
  background: -moz-linear-gradient(top, $start, $end);
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}');
}

/* Rounded corners. */
@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded_top($radius: 0.5em) {
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
}

@mixin rounded_bottom($radius: 0.5em) {
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
}

/* Drop shadow. */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button_base() {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .3em 1em .3em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include rounded();
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
}

@mixin button($color: $red, $text_color: $white) {
  @include button_base();

  color: $text_color !important;
  font-weight: bold;
  border: solid 1px darken($color, 18%);
  background: $color;
  @include gradient(saturate($color, 15%), darken($color, 15%));

  &:hover {
    text-decoration: none;
    background: saturate($color, 10%);
    @include gradient(saturate($color, 5%), darken($color, 5%));
  }

  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
    @include gradient(saturate($color, 15%), lighten($color, 15%));
  }
}

@mixin feature_menu_button($color_top: $red, $color_bottom: $blue, $active_top: $green, $active_bottom: $black, $color_text: $white) {
  @include button_base();

  color: $color_text !important;
  font-weight: bold;
  border: solid 1px darken($color_bottom, 18%);
  background: $color_top;
  @include gradient($color_top, $color_bottom);

  &:hover {
    text-decoration: none;
    background: saturate($color_top, 10%);
    @include gradient(saturate($color_top, 5%), darken($color_bottom, 5%));
  }

  &:active {
    position: relative;
    top: 1px;
    color: $color_text;
    @include gradient($active_top, $active_bottom);
  }
}

@mixin text-field {
  display: inline-block;
  outline: none;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include rounded();
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
}
