/* Design from mobile first */
@media all and (max-width: 479px) {
	.view-video-gallery {
    .view-content {
      .views-row {
        width:100%;
        float:left;

				img {
					width: 100%;
					height: auto;
				}
      }
    }
  }
}
    
@media all and (min-width: 480px) and (max-width: 959px) {
 	.view-video-gallery { 
    .view-content {
      .views-row {
        width:49%;
        float:left;
        &:nth-child(2n - 1) {
          margin-right:2%;
        }

				img {
					width: 100%;
					height: auto;
				}
      }
    }
  }
}

@media all and (min-width: 960px) {
 	.view-video-gallery { 
    .view-content {
      .views-row {
        float:left;
        width:32%;
        &:nth-child(3n - 1) {
          margin-right:2%;
          margin-left:2%;
        }

        &:nth-child(3n + 1) {
          clear:left;
        }
		
				img {
					width: 100%;
					height: auto;
				}
      }
    }
  }
}

