/**
 * Media queries.
 */

@import "variables.scss";

/**
 * Responsive markup for smaller-screen devices such as tablets and phones.
 */
@media screen and (max-width: 630px) {

  // Re-colour the header menu and make it stick to the left.
  #header-menu {
    clear: both;
    float: left;

    ul {
      padding: 0;

      li {
        -moz-text-shadow: .5px .5px 2px #99c;
        -o-text-shadow: .5px .5px 2px #99c;
        -webkit-text-shadow: .5px .5px 2px #99c;
        border-top: 1px solid #99c;
        color: $uni-blue;
        text-align: left;
        text-shadow: .5px .5px 2px #99c;

        a,
        a:link,
        a:active {
          color: $uni-blue;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  // Float search box to the left.
  body #site-search,
  body.backstretch #site-search {
    clear: both;
    float: left;
  }

  // Hide the slider image.
  #slider {
		/*width: auto;*/

    .slider {
      display: none;
    }

    div.views-slideshow-pager-field-item {
      border-left-width: 1px;
    }
  }

  #backstretch,
  #backstretch-wrapper {
    display: none;
  }

  // Ensure some extra spacing in case of a title image.
  #unimelb-title-image-wrapper {
    min-height: 125px;
  }

	// Start dropdown menu
	div.arts-dropdown {
		width: 100%; 
		background-image: none;
		background-color: transparent; 
		border-radius: none; 
    box-shadow: none;
		padding-right: 0;
	}

	/*
	.wrapper {

		padding-left: 10px;
		padding-right: 0;
		width: auto;
		
	}

	
	.col-6:not(#arts-dropdown-menu) {
		width: auto;
	}	

	#slider #widget_pager_top_slider-block,
	#slider #widget_pager_bottom_slider-block {	
		width: 100%;
	}
	*/
	// End dropdown menu
}


/* Smartphones (portrait and landscape) */
@media screen and (max-width: 480px) {
  /* Hide images on front page for mobile devices. */
  .front .views-field-field-landingpage-image-uploader {
    display: none;
  }
  .front .views-field-field-shared-images {
    display: none;
  }

	div.arts-dropdown {
		margin-top: 50px;
	}
}

/* Smartphones (portrait) ----------- */
@media screen and (max-width : 320px) {
  // Stick header menu hard to the left.
  #header-menu {
    clear: both;
    float: left;
    margin-left: -145px;
  }
}
