/* Design from mobile first */

@media all and (max-width: 479px) {
	.my-responsive-grid {
		width:100%;
    float:left;

		h2 {
			margin: 0;
		}

		margin-top: 1.5em;
	}
}
    
@media all and (min-width: 480px) and (max-width: 959px) {
	.my-responsive-grid {
  	width:49%;
    float:left;
    &:nth-child(2n - 1) {
    	margin-right:2%;
    }

		h2 {
      margin: 0;
    }

		margin-top: 1.5em;
  }
}

@media all and (min-width: 960px) {
	.my-responsive-grid { 
  	float:left;
    width:32%;
    &:nth-child(3n - 1) {
    	margin-right:2%;
      margin-left:2%;
   	}

    &:nth-child(3n + 1) {
   		clear:left;
   	}
	}
}

