/* FoA Slider CSS. */

#slider {
  .col-2 {
    margin-left: 0;
    width: 240px;
  }

  .rightside {
    margin-top: 0;
  }

  // Pager wrapping div.
  #widget_pager_top_slider-block,
  #widget_pager_bottom_slider-block {
    margin-right: 7px;
  }

  .views-content-field-slider-pager {
    margin-left: 14px;
  }

  // Normal (inactive) pager item.
  div.views-slideshow-pager-field-item {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0 0;
    color: #4f4f4f;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 43px;
    overflow: hidden;
    padding: 4px 0 0 6px;
    position: relative;
    width: 100%;
    @include gradient(#ffffff, #eeeeee);

    a,
    a:link,
    a:active,
    a:visited {
      color: #4f4f4f;
    }
  }

  // Active pager item.
  div.views-slideshow-pager-field-item.active {
    @include gradient(#eeeeee, #e0eaf4);
    color: #036;
  }

  // Last pager item.
  div#views_slideshow_pager_field_item_top_slider-block_4.views-slideshow-pager-field-item,
  div#views_slideshow_pager_field_item_bottom_slider-block_4.views-slideshow-pager-field-item {
    border-bottom-width: 1px;
    height: 42px;
  }

  .slider-item {
    overflow: hidden;
    position: relative;
    width: auto;

    .caption {
      background: rgb(0, 51, 102);
      background: rgba(0, 51, 102, 0.6);
      bottom: 5px;
      color: #fff;
      position: absolute;
      width: 100%;

      a,
      a:link,
      a:hover,
      a:visited {
        color: #fff;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 5px 10px;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    margin-top: none;
  }
}
