/**
 * Style staff lists in quicktabs block.
 */


.main {
  #quickset-staff_lists {
    .ui-corner-bottom,
    .ui-corner-all,
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      background: none;
      border: none;
      border-radius: 0;
    }
    h3 {
      a {
        color: #4c5e71;
        font-family: 'Droid Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
      }
    }
  }

  .view-content {
    table {
      caption {
        height: 0;
        left: -9999px;
        position: absolute;
      }

      thead {
        tr,
        th {
          border-bottom: 0;
        }
      }
    }
  }

  .attachment-after {
    .view-content {
      table {
        caption {
          height: auto;
          left: auto;
          position: relative;
        }
      }
    }
  }

  .ui-accordion .ui-accordion-content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

/**
 * Staff list views on the schools sites.
 */
.view-id-staff {
  .staff-contact { width: 40%; }
  .staff-name { width: 25%; }
}

/**
 * Exposed filter on the staff page.
 */
form[id*='views-exposed-form-staff-academic'] {
  .views-exposed-form {
    #edit-field-person-area-tid-wrapper,
    #edit-field-person-type-honorary-wrapper,
    #edit-field-person-type-tid-wrapper,
    #edit-field-person-supervision-value-wrapper,
    #edit-combine-wrapper {
      /* Filter title label */
      label[for="edit-field-person-area-tid"],
      label[for="edit-field-person-type-tid"],
      label[for="edit-field-person-supervision-value"],
      label[for="edit-combine"] {
        color: #036;
        font-family: 'Droid Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0 3px;
      }

      /* Radio labels */
      label[for^="edit-field-person-type-tid-"] {
        font-weight: normal;
      }

      /* Checkbox labels */
      .form-checkboxes {
        label {
          font-weight: normal;
        }
      }
    }

    /* Position the throbber at the top right of the filter block */
    /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
    .views-submit-button {
      .ajax-progress .throbber {
        background: #ffffff;
        border: 1px solid $uni-blue;
        opacity: 0.7;
        @include rounded($radius: 1em);

        left: 40%;
        position: fixed;
        top: 45%;
        background-image: url('../images/staff-loading-snake.gif');
        background-position: center center;
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        z-index: 1000;
      }
    }
/**
.ajax-progress-throbber {
  background-color: #232323;
  background-image: url("../images/loading-small.gif");
  background-position: center center;
  background-repeat: no-repeat;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  height: 24px;
  opacity: .9;
  padding: 4px;
  width: 24px;
}
*/


    /* Move the floating single field up to the bottom of the preceding list. */
    #edit-field-person-type-honorary-wrapper {
      padding: 0 2px 0 0;
    }
  }
}

/* Schools staff profile gallery tab. */
#block-views-staff-block-1 {
  table {
    tbody tr:nth-child(2n+1),
    td,
    th,
    tr {
      background: transparent;
      border: none;
    }
  }
}
