/**
 * Style staff lists in quicktabs block.
 */


.main {
  #quickset-staff_lists {
    .ui-corner-bottom,
    .ui-corner-all,
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      background: none;
      border: none;
      border-radius: 0;
    }
    h3 {
      a {
        color: #4c5e71;
        font-family: 'Droid Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
      }
    }
  }

  .view-content {
    table {
      caption {
        height: 0;
        left: -9999px;
        position: absolute;
      }

      thead {
        tr,
        th {
          border-bottom: 0;
        }
      }
    }
  }

  .attachment-after {
    .view-content {
      table {
        caption {
          height: auto;
          left: auto;
          position: relative;
        }
      }
    }
  }

  .ui-accordion .ui-accordion-content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

/**
 * Staff list views on the schools sites.
 */
.view-id-staff {
  .staff-contact { width: 30%; }
  .staff-name { width: 20%; }
}

