/**
 * Style staff lists in quicktabs block.
 */


.main {
  #quickset-staff_lists {
    .ui-corner-bottom,
    .ui-corner-all,
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      background: none;
      border: none;
      border-radius: 0;
    }
    h3 {
      a {
        color: #4c5e71;
        font-family: 'Droid Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
      }
    }
  }

  .view-content {
    table {
      caption {
        height: 0;
        left: -9999px;
        position: absolute;
      }

      thead {
        tr,
        th {
          border-bottom: 0;
        }
      }
    }
  }

  .attachment-after {
    .view-content {
      table {
        caption {
          height: auto;
          left: auto;
          position: relative;
        }
      }
    }
  }

  .ui-accordion .ui-accordion-content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

/**
 * Staff list views on the schools sites.
 */
.view-id-staff {
  .staff-contact { width: 40%; }
  .staff-name { width: 25%; }
}

/**
 * Exposed filter on the staff page.
 */
form[id*='views-exposed-form-staff-page'] {
  .views-exposed-form {
    #edit-field-person-area-tid-wrapper,
    #edit-field-person-type-honorary-wrapper,
    #edit-field-person-type-tid-wrapper,
    #edit-field-person-supervision-value-wrapper {
      /* Filter title label */
      label[for="edit-field-person-area-tid"],
      label[for="edit-field-person-type-tid"],
      label[for="edit-field-person-supervision-value"] {
        color: #036;
        font-family: 'Droid Sans','Helvetica Neue',Arial,sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0 3px;
      }

      /* Radio labels */
      label[for^="edit-field-person-type-tid-"] {
        font-weight: normal;
      }

      /* Checkbox labels */
      .form-checkboxes {
        label {
          font-weight: normal;
        }
      }
    }
    /* Position the throbber at the top right of the filter block */
    .views-submit-button {
      position: absolute;
      right: -10px;
      top: 8px;
    }
    /* Move the floating single field up to the bottom of the preceding list. */
    #edit-field-person-type-honorary-wrapper {
      padding: 0 2px 0 0;
    }
  }
}

/* Schools staff profile gallery tab. */
#block-views-staff-block-1 {
  table {
    tbody tr:nth-child(2n+1),
    td,
    th,
    tr {
      background: transparent;
      border: none;
    }
  }
}
