/**
 * Styles specific to Views.
 */

.views-row.page-preview {
  clear: both;
}

/**
 * Emulate the sizing and spacing of front page blocks on a grid view..
 */
.view-id-landing_pages {
  table {
    margin-top: 0;
		width: 100%;

    tbody {
      tr,
      tr:nth-child(2n+1),
      td {
        background: none;
        border: none;
        padding: 0;
      }

      tr.row-1 td.page-preview {
        margin-top: 0;
      }

      td {
        border: 0;
        display: inline;
        float: left;
        margin: 0 0 0 12px;
        padding: 0;

        &.view-col-1 {
          margin-left: 0;
        }
      }

      tr {
        border: none;
      }
    }

    &.cols-2 tbody td {
      width: 340px;
    }

    &.cols-3 tbody td {
      width: 220px;
    }

		&.cols-3 tbody td.cols-percentage {
      /* Full expanded and no navigation */
      width: 32%;
    }

    &.cols-4 tbody td {
      width: 100px;
    }

		&.cols-4 tbody td.cols-percentage {
			/* Full expanded and no navigation */
			width: 24%;
		}
  }
}

/*
 * Event date as calendar icon on front page.
 */
.view-id-events.view-display-id-block,
.view-id-news.view-display-id-block,
.view-display-id-home_event {
  .views-row {
    margin-bottom: 1em;
  }

  .event-date,
  .soll-event-date {
    background-color: #ddd;
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 36px;
    @include rounded(3px);

    .event-date-day,
    .soll-event-date-day {
      font-size: 16px;
      font-weight: bold;
    }

    .event-date-my,
    .soll-event-date-my {
      background-color: $uni-blue;
      color: #fff;
      display: block;
      font-size: 0.7em;
      @include rounded_bottom(3px);
    }
  }
}

/* At front page, margin between events and news */
.sidebar-right .block-views {
	padding-bottom: 20px;
}

/* Events listing pages. */
.page-news .view-id-events,
.page-events .view-id-events {
  .event-date,
  .soll-event-date {
    background-color: #ddd;
    float: left;
    text-align: center;
    width: 60px;
    @include rounded(3px);

    .event-date-day,
    .soll-event-date-day {
      font-size: 40px;
      font-weight: bold;
    }

    .event-date-my,
    .soll-event-date-my {
      background-color: $uni-blue;
      color: #fff;
      display: block;
      @include rounded_bottom(3px);
    }
  }

  .event-details,
  .soll-event-details {
    margin-left: 70px;
    vertical-align: baseline;

    h2,
    h3,
    h4,
    .pullquote {
      clear: none;
      padding: 0 0 3px;
    }
  }

  .views-row {
    border-bottom: 1px dotted #999;
    clear: both;
    float: left;
    padding: 10px 0;
    width: 100%;
  }
}

/* Blog-ish view, teaser floating image. */
.page-preview .node-teaser {
  .field-name-field-shared-images {
    float: right;
    margin-left: 2em;
    img {
      margin-top: 0;
    }
  }
} 

/**
 * Calendar views.
 */
.view-id-calendar {
  .date-nav {
    padding-bottom: 0;
  }

  table tbody {
    tr,
    tr:nth-child(2n+1) {
      background: white;
      // border: none;

      td.has-events {
        background-color: #234c77;

        a,
        a:link {
          color: white;
        }
      }
    }
  }

  // Mini calendar clock.
  &.view-display-id-block_1 {
    .date-heading {
      text-align: left;
    }
    .pager {
      display: none;
    }

    .mini-day-on,
    .mini-day-off {
      padding-right: 2px;
    }

  }
}

/* Award details block. */
.view-id-awards {
  &.view-display-id-block_1 {
    background-color: $block-background;
    padding: 1em;
    @include rounded();
  }
  .views-field.inline-list {
    ul,
    & li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
  .award-value-caveat,
  .award-value-caveat strong {
    font-size: smaller;
    font-weight: normal;
  }

  .award-status {
    color: #c60;
  }

  .award-status-Open {
    color: #090;
  }

  .award-status-Closed {
    color: #c00;
  }
}

/* StudentCentre blog */
.ds-1col.node-teaser {
  margin-bottom: 1.5em;
}

/* BA profiles. */
.view-id-profiles {
  .profile-image {
    float: left;
    width: 100px;
  }
  .profile-summary {
    margin-bottom: 2em;
    margin-left: 120px;

    h1,
    h2,
    h3,
    .pullquote {
      clear: none;
      padding-top: 0;
    }
  }
}

.main .view.foa-team .view-content {
  table {
    caption {
      bottom: 20px;
      color: #036;
      clear: both;
      font-family: 'Droid Sans','Helvetica Neue',Arial,sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      height: 0;
      left: 0;
      margin-top: 5px;
      padding: 10px 0 3px;
      position: relative;
    }

    th {
      display: none;
    }

    .views-field-field-profile-display-name {
      width: 30%;
    }
  }
}

.main .quicktabs_main .quicktabs-tabpage .field-type-taxonomy-term-reference {
  display: none;
}

/**
 * Staff and team lists on intranet.
 */
.view-id-team .views-table {
  ol,
  ul {
    margin: 10px 0 10px 0;
    padding: 0 0 0 20px;
    list-style-type: disc;
  }
}

.view-id-team .views-table ul li {
  margin: 0;
  margin-bottom: 5px;
  padding:0;
}

