/* Unimelb overrides to theme elements.  */

/* Settings! */
@import "mixins";

/* Site header. */
@import "header";

/* Styling for output produces by various modules. */
@import "displaysuite", "quicktabs", "staff", "aos", "views", "slider", "shoutbox";

/* Override header margin if the first element on the page or if in a block. */
div.field-item,
div.col-2 {
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 0;
    padding-top: 0;
  }
}

/* Override header if the top block and not the block title. */
.sidebar-right > h3,
.sidebar-right > .view > .view-header > h3.block-title {
  margin-top: 0;
}

/* Sensiblise list item spacing. */
ul,
ol {
  li {
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 0.8em;
    }
  }
}

/* Override the margin on the right-side region so its title lines up */
.rightside {
  .aside h2,
  h2.block-title {
    color: $link-visited;
  }
}

/* Space out the highlights block title a bit. */
h2 {
  #block-views-highlights-news,
  #block-views-zones-home-promo {
    margin-top: 1em;
  }
}

/* Table has a bottom margin. */
table {
  margin-bottom: 1em;
  caption {
    font-style: italic;
  }
  td {
    border-left: #b9cfe7 solid 1px;
  }

  // Borderless table style.
  .borderless {
    tr,
    th,
    td {
      border: none;
    }
    tbody {
      tr:nth-child(2n),
      tr:nth-child(2n+1) {
        background: transparent;
      }
    }
  }
}

/* Header menu */
#header-menu {
  bottom: 0;
  float: right;
  min-height: 85px; // Helps if there is a teeny tiny (eg search) block in there only.
  right: 0;
  width: auto;

  ul {
    li {
      -moz-text-shadow: .5px .5px 2px #024;
      -o-text-shadow: .5px .5px 2px #024;
      -webkit-text-shadow: .5px .5px 2px #024;

      border-top: 1px solid white;
      color: white;
      text-align: right;
      text-shadow: .5px .5px 2px #024;

      &,
      &.leaf {
        padding-right: 0;
      }

      &.first,
      &.first.last {
        border-top: none;
      }

      a,
      a:link,
      a:active {
        color: white;

        &:hover {
          color: #f5faff;
        }
      }
    }
  }
}

/* Feature menu */
#feature-menu {
  margin-left: 0;
  padding-left: 0;
  ul {
    margin-left: 0;
    padding-left: 0;
  }
  ul > li {
    float: left;
    a {
      @include feature_menu_button($button-menu-inactive-top, $button-menu-inactive-bottom, $button-menu-active-top, $button-menu-active-bottom, $button-text);
    }
  }
}

body #site-search {
  -moz-border-radius: 0.5em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  border: solid 1px #a7c6e5;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #345b8c !important;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: bold;
  margin: 10px 0;
  outline: none;
  padding: 0.3em 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  width: 180px;

  @include gradient(white, #eef4fa);

  form {
    margin-bottom: 0;
    margin-top: 0;

    input,
    textarea,
    select {
      border: 1px solid #ccc;
      margin: 0;
    }

    input.form-text {
      float: left;
    }

    input.form-submit {
      float: right;
      margin-top: -1px;
    }
  }
}

/* Footer with backstretch enabled. */
body.backstretch .footer {
  margin-top: 60px;
}

/* jQuery menu */
body ul.jquerymenu {
  li.parent {
    position: relative;
    span {
      border: none;
      left: -15px;
      overflow: hidden;
      position: absolute;

      &.parent {
        margin-left: 0;
      }

      &.open {
        background-color: transparent;
        background-image: url('../images/collapse-arrow.png');
        background-position: 50% 0.4em;
      }
      &.closed {
        background-color: transparent;
        background-image: url('../images/expand-arrow.png');
        background-position: 50% 0.4em;
      }
    }
  }
}

/* Ouch! Ugly! */
.ie {
  ul.jquerymenu {
    li {
      padding-bottom: 0;
      ul {
        margin-top: 0.3m;
      }
    }
    li.parent {
      margin-top: -0.2em;
      position: relative;
      span {
       .open,
       .closed {
         left: 0;
         position: absolute;
         top: 1.3em;
        }
      }
    }
  }
}

/* Content editing */
.filter-help a {
  padding: 0 20px 0 0;
}

/* No border on any links, except in the main content on non-landing pages. */
body {
  a,
  a.tabledrag-handle {
    &,
    &:link,
    &:active,
    &:visited {
      @include no-decoration;
    }
  }
}

/* Underline links in the main content */
#main-content {
  a {
    &:link,
    &:active,
    &:visited {
      @include decoration;
    }
    &.tabledrag-handle,
    &.button {
      &:link,
      &:active,
      &:visited {
        @include no-decoration;
      }
    }
  }
}

/* Never underline links on the home page and in landing page views. */
.home.front #main-content,
.views-view-landing_pages #main-content {
  a {
    &:link,
    &:active,
    &:visited {
      @include no-decoration;
    }
  }
}

/* Never underline tab and quicktab links. */
#main-content {
  ul.tabs,
  ul.quicktabs-tabs {
    a {
      &:link,
      &:active,
      &:visited {
        @include no-decoration;
      }
    }
  }
}

/* Underline links in the highlight block. */
.view-highlight {
  a,
  a:link,
  a:active,
  a:visited {
    @include decoration;
  }
}

/* Content-bottom (related content) links */
#main-content-bottom {
  background: none repeat scroll 0 0 #dfe9f4;
  border-radius: 3px;
  color: #3e658e;
  font-size: 0.9em;
  margin: 8px 30px 20px 0;
  padding: 10px;
}

/* Notice style */
#main-content {
  .notice,
  .importantnotice {
    background-color: #eee;
    border: 1px dotted #999;
    margin: 1em;
    padding: 0.6em;
    .notice,
    .importantnotice {
      // Thou shalt not nest thy notices, or if thou dost, they shan't show up as such.
      border: none;
      margin: 0;
      padding: 0;
    }
  }
  .importantnotice {
    background-color: #fee;
    border: 1px dotted #f99;
    color: #900;
    .notice,
    .importantnotice {
      // Thou shalt not nest thy notices, or if thou dost, they shan't show up as such.
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}

/* Floated images. */
.image-float-left {
  float: left;
  margin: 0.2em 1em 0.5em 0;
}

.image-float-right {
  float: right;
  margin: 0.2em 0 0.5em 1.5em;
}

.page-node-add,
.page-node-edit {
  legend {
    display: none;
  }
}

/* Hide the field label on long text fields inside fieldsets on the user profile page. */
.page-user-edit {
  .fieldset-wrapper {
    .field-type-text-long {
      label {
        display: none;
      }
    }
  }
}

/* Hack up the node create and edit forms. */
.page-user-edit,
.page-node-add,
.page-node-edit {
  form legend {
    text-indent: 0;
  }
  form fieldset {
    background: transparent;
    border: none;
    padding: 0;
  }
  span.cke_skin_kama {
    border: none;
    padding: 0;
  }
  table {
    tr,
    th,
    td {
      border: none;
    }
    tr.odd,
    tr.even {
      background: transparent;
      border: none;
    }
    tbody {
      tr:nth-child(2n),
      tr:nth-child(2n) {
        background: transparent;
      }
    }
  }

  /* If profile is edited by academic, we disable the weight option and use drag and drop only */
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  /* Increase the weight of toggle links */
  .fieldset-legend .fieldset-title {
    color: #353535;
    font-weight: bold;
  }

  /* Increase the weight of toggle links */
  fieldset .form-type-managed-file label {
    display: none;
  }

  /* Make more space between text field and field-group */
  .text-format-wrapper {
    margin-bottom: 15px;
  }
}

.page-node-add,
.page-node-edit {
  div {
    .field-name-field-events,
    .field-name-field-related-pages,
    .field-name-field-related-url,
    .field-name-field-external-url {
      margin-bottom: 3em;
    }
  }
}

.page-node-add,
.page-node-edit,
.page-user-edit {
  .tabledrag-toggle-weight-wrapper {
    position: relative;
    top: 3em;
  }
}

/* Fixes for IE. */
table {
  tbody {
    tr.odd {
      background: #eef7ff;
    }
    tr.even {
      background: #eee;
    }
  }
}

body.html {
  background-color: white;
  background-position: 50% -60px;
  &.home.front {
    background-image: url('../images/homepage-blue-header.jpg');
  }
  &.blue.not-front {
    background-image: url('../images/blue-header.jpg');
  }
}

/* Float account-images right. */
.account-images {
  float: right;
  margin: 20px 10px 0 20px;
}

/* Start align profile image */
.profile_align img {
  margin-top: 30px;
}
/* End align profile image */

/* Event presenter and location. */
.views-table {
  th.views-field-field-event-speaker-organisation {
    min-width: 150px;
  }
  th.views-field-field-location {
    min-width: 130px;
  }
}

/* Staff list views: office field. */
.view-id-staff th.views-field-nothing-1 {
  min-width: 70px;
}

div.status {
  @include rounded($radius: 0.5em);
}

#backstretch-wrapper {
  background-image: url('../images/bg_white_90.gif');
  
  bottom: 480px;
  float: left;
  margin-left: 0;
  position: absolute;
  width: 980px;
  z-index: -1;
  @include rounded($radius: 0.5em);

	background-color: #ffffff;
}

#backstretch,
#backstretch-wrapper {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
}

/* Award search results. */
.page-node-317 .view-id-awards {
  td.the_column_1,
  td.views-field-title {
    width: 50%;
  }

  td.the_column_2,
  td.views-field-field-award-study-area {
    width: 25%;
  }

  td.the_column_3,
  td.views-field-nothing {
    width: 25%;
  }

  /* Input button in view filter */
  .view-filters {
    .views-exposed-form {
      .views-exposed-widget {
        .form-submit {
          -webkit-margin-before: 1.95em;
          margin-top: 2.15em;
        }
      }
    }
  }

  /* Control the view exposed filter position */
  div.views-widget-filter-field_award_study_level_value {
    margin-right: 10em;
  }

  div.views-widget-filter-field_award_travel_support_value {
    margin-right: 11em;
  }

  /* Advanced search */
  #search-form label {
    display: inline;
  }

  fieldset.search-advanced {
    background: transparent;
    border: 0;
  }
}

/* Why do fieldset legends need to live off-screen? */
form legend {
  text-indent: 0;
}

/* Right side block hilights (manual). */
.sidebar-right {
  .front-hilight {
    background-color: $button-menu-active-bottom;
    margin-left: -1px;
    padding: 0.5em;
    @include rounded($radius: 0.5em);
  }
}


/* Start - form */
form {
  h1,
  h2,
  h3,
  h4,
  h5 {
    border-bottom: 0;
    font-weight: bold;
    margin: 0;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-weight: normal;
  }

  fieldset.webform-component-fieldset.form-wrapper {
    background: none;
    border: none;
  }
}
/* End - form */


/* Start fix quicktab in arts */
.ui-widget .ui-accordion-content {
  font-family: sans-serif;
  line-height: 1.5em;
}

.ui-widget-content {
  color: inherit;
  a {
    color: #4c5e71;
  }
}
/* End fix quicktab in arts */


/* Links. */
ul.inline,
ul.links.inline {
  li {
    float: none;
  }
}

/* Use this class to clear left or right, allow wysiwgy float left or right */
.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

/* Custom color */
.color_year {
	background-color: #f58465;
}

.color_semester {
	background-color: #d1d3d4;
}

.color_arts_foundation_subject {
	background-color: #e0c5c9;
}

.color_major_1 {
	background-color: #c7d9f0;
}

.color_major_2 {
  background-color: #dbedfa; 
}

.color_elective {
  background-color: #fbeed1;
}

.color_breadth {
	background-color: #d6cde6;
}

.color_diploma_in_languages {
	background-color: #bae0cd;
}

.color_minors {
	background-color: #fedbba;
}

a.color_white {
  color:#ffffff;
}

table.color {
  border: 1px solid #444444;
}

table.color td {
  border: 1px solid #444444;
}


/* Start rupc */
.rupc-item-listing .mysection {
	margin-bottom: 20px;
	clear:both;
  min-height: 9em;
}

.rupc-item-listing .mysection img {
	float:left;
	margin-right: 10px;
	margin-top: 3px;
}
/* End rupc */


/* Add in some responsible sprinkles. */
@import "responsive";
