/**
 * @file
 * SCSS variables.
 */
$uni-blue: #036;

$page-background: white;
$block-background: #dfe9f4;

$button-menu-background: #1d4772;
$button-first-background: #1d4772;
$button-background: #1d4772;
$button-text: #345b8c;

$button-menu-inactive-top: #f5faff;
$button-menu-inactive-bottom: #d8e8fb;

$button-menu-active-top: #ffffff;
$button-menu-active-bottom: #eef4fa;


$link-visited: #4d476b;
