/**
 * Styles specific to Views.
 */

.view-id-landing_pages {
  table {
    margin-top: 0px;

    tbody {
      tr,
      tr:nth-child(2n+1),
      td {
        background: none;
        border: none;
        padding: 0px;
      }

      tr.row-1 td.page-preview {
        margin-top: 0px;
      }
    }

    &.cols-3
      tbody {
        td {
          width: 220px;
          margin-left: 20px;
          display: inline;

          &.view-col-1 {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
